@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}




header{
    padding: 1em 0;
    background-color: darkcyan;
}

header a{
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    margin: 1em;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.film{
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
    align-items: center;
    color: darkcyan;
    margin: 1em 0;
    
}

.film a {
    text-decoration: none;
    text-align: center;
}


.film > *{
    margin: .5em 0;
}

.film img{
    object-fit: cover;
}

.film p {
    text-align: center;
    padding: 0 .5em;
}

.actor-info{
    display: flex;
    flex-direction: row wrap;
    margin: 2em 0;
    
}

.actor-info section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1em;
   
}


.actor-info p span{
    color: darkcyan;
}

.actor-info section > *{
    margin: .5em 0;
}

nav{
    display: flex;
    justify-content: center;
}

nav form{
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    margin: 1em auto;
}

nav form > *{
    margin: 0 .5em;
}




.film-info{
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
    margin: 2em 0;
}

.film-info figure{
    flex: 1 1 300px;
    
    text-align: center;
}

.descripcion {
    display: flex;
    flex-flow: column nowrap;
    flex: 5 1 300px;
    justify-content: center;
}

.descripcion > * {
    margin: .5em 0;
}

.generos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-weight: bolder;
    color:darkcyan ;
}

.actores{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.actores h3{
    width: 100%;
    text-align: center;
}

.actor{
    text-align: center;
    margin: 1em 2em;
    outline: darkcyan .1em solid;
    padding: 1em;
}


.actor a{
    display: flex;
    flex-flow: column nowrap;
    width: 100px;
    text-decoration: none;
    justify-content: space-between;
    color: darkcyan;
    text-align: center;
}


.actor:nth-of-type(odd){
    background-color: darkcyan;
    
}

.actor:nth-of-type(odd) a{
    color: #fff;
}



.actor img{
    margin: .5em 0;
}


footer{
    padding: 1em 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;

}

footer > *{
   margin: .3em 0;

}

footer span{
    color: #fff;
}