*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    padding: 1em 0;
    background-color: darkcyan;
}

header a{
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    margin: 1em;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.film{
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
    outline: .1em solid black;
    align-items: center;

    margin: 1em 0;
    
}


.film > *{
    margin: .5em 0;
}

.film img{
    object-fit: cover;
}

.film p {
    text-align: center;
    padding: 0 .5em;
}

.actor-info{
    display: flex;
    flex-direction: row wrap;
    margin: 2em 0;
}

.actor-info section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 1em;
}

.actor-info section > *{
    margin: .5em 0;
}

nav{
    display: flex;
    justify-content: center;
}

nav form{
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    margin: 1em auto;
}

nav form > *{
    margin: 0 .5em;
}